html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* Global styles for inline code */
code {
  background-color: #f7eeee;
  /* Light gray background */
  color: #370e1f97;
  /* Pinkish text color */
  padding: 2px 5px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.95em;
}